*{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
/*    font-family: 'Noto Sans', sans-serif;*/
    letter-spacing: .5px;
}
.nav-offcanvas{
display: none;      
    }
.overlay{
display: none;
}
.responsive-logo{
display: none;
}
body{
	/*background: #EFF3F6;*/
	background: #2C313A;
    font-size: 12px;
}
a, #menu li a{
    transition: 0.5s;
    cursor: pointer;
}
#menu li a:focus{
    color: #fff !important;
}
a:focus{
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
p{
    font-size:12px;
}
label{
    font-weight: normal;
}

.sidebar-menu #menu .dropdown ul {
        display: none;
    }

 .sidebar-menu #menu  .dropdown:hover > ul {
        display: block;
    }
.sidebar-menu  #menu  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        text-decoration: none;
        background-color: transparent;
}
.collapse-chevron .panel-collapse ul .active a{
    border-left: none;
}

#menu li a{
/*    font-size: 13px;*/
    float: left;    
    width: 100%;
}
.alert p {
        font-size: 11px;
        color: #000;
        line-height: 1;
        padding: 0px;
    }
    .alert-dismissable .close, .alert-dismissible .close{
        top:-6px;
    }
    .alert{
        margin-bottom:9px;
        margin-top:9px;
    }
    .alert-danger {
        padding: 9px;
    }
    .alert-dismissable, .alert-dismissible {
        padding-right: 29px !important;
    }
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
}
option{
    font-size: 12px;
}



.menu {
    padding: 15px 0;
    float: left;
    width: 100%;
/*    background: #0F1922;*/
    background: linear-gradient(to bottom, #0F1922, #263039);
    position: absolute;
    bottom: 0;
    top: 70px;
    padding-top: 0;
        background: #fff;
    box-shadow: 0 0 40px -15px #B6091C;
    border-top-right-radius: 5px;
    border: 1px solid #ddd;
    border-left: none;
}
.modal-header{
    padding:5px;
    min-height:auto;
    color:#000;

}
.main-content .col-md-9 .main-tab{
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll !important;
}
.modal-header h4{
    color: #222C35 !important;
    padding: 1px 7px;
    font-size: 17px;
    font-weight: bold;
}
.inner-block h3{
    margin: 12px 0;
    font-weight: 600;
    letter-spacing: .5px;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.page-header{
margin: 0px 0 0px;
background: #b71222;
height: 35px;
border-radius: 3px;
}
.page-header h4{
    color: #fff;
margin-top: 10px;
margin-left: 17px;
font-size: 16px;
}

.logo-name img {
	width: 53%;
}
.left-content{
/*	min-height: 790px;*/
    padding-right: 15px;
}
.fa-angle-right{

}
#menu li{
	border-bottom: 1px solid #212B34;
}
#menu li span{
    float: left;
}
.logo1{
    width: 100%;
    background: #fff;
    border-bottom-right-radius: 5px;
    border: 1px solid #ddd;
}
.logo1 a img{
    width: 54%; 
    margin: 0 auto;
    display: block;
    padding: 1px 0 10px 0;
}
.header-main{
	padding: 0em 1em;
/*	background: #fdfdfd;*/
/*    background: linear-gradient(to right, rgb( 24, 40, 72 ), rgb(75, 108, 183));*/
    background: #283048; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #283048, #859398); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B6091C, #B6091C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 53px;
    padding-top: 3px;
}
.login-head{
	text-align: center;
}
.login-head img{
/*	width: 60%;*/
    width: 200px;
/*    margin-top: 23px;*/
/*    margin-bottom: -41px;*/
}
.login-main{
	width: 35%;
	border-radius: 3px;
}
.login-page{
	padding: 11.5em 0em;
}
.prfil-img img{
    height: 35px;
    width: 35px;
    margin-top: 9px;
}
.user-name p{
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0;
}
.profile_details li a i.fa.lnr{
    color: #fff;	
}
#ascrail2000 div{
/*	background-color: rgb(59, 82, 163) !important;*/
/*    background-color: #2F384E !important;*/
    background: #6c6e71 !important;
}
.profile_details_left{
    float: right;
    width: 200px;
    margin-right: 0px;
    margin-top: 5px;
    text-align: right;
}
.profile_details {
    float: right;
    margin-top: -4px;
}
.inner-block{
    padding: 2em 0em 2em 0em;
   /* background:#EFF3F6;*/
	background:#2C313A;
    float: left;
    width: 100%;
    min-height: 84vh;
}
.main-content{
    background: #fff;
    padding: 1em 1em;
    /*box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);*/
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.11), 0 5px 10px 0 rgba(0, 0, 0, 0.11);
    float: left;
    width: 100%;
    border-radius: 3px;
}
.btn{
    background: #B6091C;
    color: #fff;
    padding: 5px 10px;
    font-size: 11px;
    /* font-weight: 700; */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    border-radius: 3px;
    height: 24px;
    border: none;
    line-height: 1.3;
    /* border-bottom: 0.2em solid #398e68; */
}
.btn:hover{
    color: #fff;
    background: #b71222;
    border: none;
/*    border-bottom: 0.2em solid #398e68;*/
}
.btn-default, .btn-default:hover{
    background: #fff;
    color: #444;
    padding: 5px 10px;
    font-size: 11px;
    /* font-weight: 700; */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    border-radius: 3px;
    height: 24px;
    border: none;
    line-height: 1;
    border: 1px solid #ccc;
}

.edit{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #384155;
    font-size: 15px;
}
.submit{
	background: #68AE00;
}

/*
a:hover, a:focus {
color: #fff !important;
}
*/
#example_filter{
	float: right;
}
#example_paginate{
	float: right;
	margin-top: -20px;
}
label{
    font-family: 'Open Sans', sans-serif;
    box-shadow: none;
}
.breadcrumb{
	padding: 10px 15px;
	margin-bottom: 13px;
	border-radius: 3px;
    font-size: 12px;
    background-color: #fff;
}
.breadcrumb li a {
    color: #777;
}
.breadcrumb li a:hover{
    color: #777 !important;
}
.breadcrumb > .active{
    color: #333;  
}
.page-header h3 {
   font-size: 17px;
    margin-top: 0px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 0px;
    padding-top: 9px;
    margin-left: 10px;
}
.table > thead > tr > th, .table > tbody > tr > th {
/*
    padding: 3px 7px;
    background: #252F38;
    color: #fff;
    font-size: 13px;
    text-shadow: none;
    font-weight: 100;
    border: 1px solid #1A242D !important;
*/ 
    padding: 3px 7px;
    background: #eee;
    color: #000;
    text-shadow: none;
    font-weight: 600;
    border: 1px solid #ccc !important;
}

.table > tbody > tr > td{
/*
	padding: 0px 5px 0px 7px;
    font-size: 13px;
    background: #F3F3F3;
    border: none;
    vertical-align: middle;
*/
    padding: 3px 5px;
   /* background: #fff;*/
    border: 1px solid #eee;
    vertical-align: middle;
    border-right: none;
    border-left: none;
}
.table > tbody > tr > td img{
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 50%;

object-fit: cover;
}
.dataTables_info{
/*    font-size:11px;*/
}
.pagination{
/*    font-size:13px;*/
}
tr:nth-child(even) {
    background-color: #eee;
}
.pagination > .active > a{
     background-color: #37474F;
     border-color: #37474F;	
}
.pagination > li > a, .pagination > li > span{
    color: #37474F;
    padding: 2px 9px;
}
.pagination > li > a, .pagination > li > span {
    color: #37474F;
    padding: 1px 7px;
    font-size: 12px;
}
.header-right {
    float: none;
    width: 100%;
}
.star{
/*	color: #D50000;*/
    color: #E57D24;
}
.form-control{
	border-radius: 0px;
    height:26px;
    font-size: 12px;
}
.form-control:focus{
    box-shadow: none;
    border-color: #444;
}
input#datepicker {
    padding: 11px;
}
.ui-datepicker{
    padding: 0;
}
.ui-widget-header {
    border: none;
    border-bottom: 1px solid #dddddd;
    background: #fff;
    color: #333333;
    font-weight: bold;
    border-radius: 0 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: 1px solid #f6f6f6;
    background: #fff;
    font-weight: normal;
    color: #444;
/*    font-size: 13px;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.ui-widget-header .ui-state-default:hover{
    background: #50A37E;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #101A23 !important;
    color: #fff !important;
    text-align: center;
}
a.ui-corner-all:hover{
    border: none !important;
}
.nav-tabs > li{
    background: #ddd;
}
.nav-tabs > li > a{
color: #333;    
border-radius: 0px;
/*font-size: 13px;*/
margin-right: 0px;
border: none !important;
}

.nav-tabs > li.active > a {
    background: #333;
}
.nav-tabs > li > a:hover{
    background:;
    color: #FFF;
}
.tab-content{
    padding: 0px;
    margin-top: 15px;
}
.list{
 border-bottom: none !important;    
  width: 100%;
}
.list > li.active > a{
background: #ddd !important;
color: #777;
}
.list > li > a{
background: #eee;
border-top: 1px solid #f2f2f2;
}
.list > li{
   width: 100%;
}
.list-content{
background: #eee;
margin-top: 0px;
    float: left;
    width: 100%;
}
.modal-body  label{
    margin-top: 7px;
    font-weight: 600;
}
.modal-content .modal-body {
    float: left;
    width: 100%;
    max-height: 82vh;
    overflow-y: scroll;
}
.modal-content .modal-footer {
    padding:10px;
    float: left;
    width: 100%;
    background: #FAFAFA;
    border-bottom: 1px solid #e5e5e5;
}
.list-content .tab-pane{
    padding: 15px;
}
.heading .checkbox{
margin-top: 0px;
margin-bottom: 0px;
margin-top: 7px;
}
.heading input[type="checkbox"]{
    margin-left: -34px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background: #384155 !important;
    color: #fff !important;
   
}
.tab-content .col-md-10 input{
    width: 90%;
    margin-left: 44px;
    padding: 6px 10px;
    margin-top: -34px;
    height:34px;
}
.list-content .col-md-1 a{
float: left;
background: #ddd;
color: #333;
height: 34px;
width: 30px;
text-align: center;

}
.list-content .col-md-1 a i{
    margin-top: 9px;
}
.heading{
height: 52px;
border-bottom: 1px solid #ccc;
}


.onoffswitch {
        position: relative;
         width: 53px;
        -webkit-user-select:none; 
        -moz-user-select:none; 
        -ms-user-select: none;
        margin-top: 6.5px;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; 
        overflow: hidden;
        cursor: pointer;
        /*border: 2px solid #999999;*/
        border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; 
        width: 200%; 
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; 
        float: left;
        width: 50%;
        height: 22px; 
        padding: 0;
        line-height: 22px;
        font-size: 12px;
        color: white; 
        font-family: Trebuchet, Arial, sans-serif; 
        font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "On";
        padding-left: 10px;
        background-color: #CFD8DC;
        color: #000;
    }
    .onoffswitch-inner:after {
        content: "Off";
        padding-right: 10px;
        background-color: #69B7E6; 
        color: #fff;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block;
        width: 12px; 
        height: 12px;
        margin: 0px;
        background: #FFFFFF;
        position: absolute; 
        top: 5px;
        bottom: 0;
        right: 35px;
       /* border: 2px solid #999999;*/
         border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 6px; 
    }




.page-header .col-md-3 h4 {
    margin-top: 7px;
}
.page-header .col-md-9 .switch{
    margin-top: 7px;
}
.page-header .slider::before {
    left: 10px;
}
.profile_details .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
 color: #222 !important;
}
.profile-details .dropdown:hover > ul{
    display: none !important
}
/*.off{
 margin-left: 62px;
 position: absolute;
margin-top: 5px;
font-size: 13px;
}*/
.on{
margin-top: 4px;
position: absolute;
/*font-size: 13px;*/
font-weight: bold;
}
.main-content .col-md-2 img{
/*    width: 130px;*/
        width: 100px;
    border-radius: 50%;
    border: 1px solid #eee;
    height: 100px;
    object-fit: contain;
    padding: 4px;
border-radius: 50%;
}
.main-content .col-md-10 label{
/*    font-size: 13px;*/
    font-weight: bold;
}
.main-content .col-md-10 .form-group{
    margin-bottom: 2px;
}
.main-content .col-md-2 .pic{
  position: absolute;
background: #3B52A3;
height: 25px;
width: 120px;
text-align: center;
color: #fff;
line-height: 1.9;
margin-top: 0px;
margin-left: 5px;

}
.inner-block .main .detail{
    margin-top:15px;
}
.detail .nav-tabs {
    background: #DDDDDD !important;
}
.detail .tab-content {
    padding: 14px;
    margin-top: 0px;
    background: #fff;
    float: left;
    width: 100%;
}
.detail .col-md-6 table td, th{
    padding: 6px;
}
.detail .col-md-6 table tr:nth-child(2n){
    background: transparent;
}
.detail .col-md-6 table tr td{
    padding-left: 40px;
}
.detail .col-md-12  table > tbody > tr > th {
    padding: 7px !important;
background: #37474F;
color: #fff;
/*font-size: 13px;*/
text-shadow: none;
font-weight: 100;
}
.detail .col-md-12 table > tbody > tr > td{
padding: 7px;       
/*font-size: 13px;*/
border: none;
vertical-align: middle;
}
.detail .col-md-12 a{
    cursor: pointer;
}
.list-group{
    margin-bottom: 0;
}




/*-----------------------------------------------------------------*/
/* Flat UI Colors */
.alizarin {
  background: #e74c3c !important;
}

.sun-flower {
  background: #f1c40f !important;
}

.emerald {
  background: #2ecc71 !important;
}

/* Float: left/right */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Flex center */
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

/* Flex */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* Outline none */
*, *:focus, *:active {
  outline: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*
div#wrapper {
  width: 90%;
  max-width: 400px;
  height: 600px;
  background: #16a085;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
*/
#wrapper ul{
    padding-left: 0;
}
div#wrapper::-webkit-scrollbar-track {
  background-color: #1abc9c;
}
div#wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #1abc9c;
}
div#wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}



#wrapper span.close-btn {
  position: absolute;
  font-size: 1.2em;
  right: 30px;
  top: 36px;
  cursor: pointer;
}

/*
ul {
  font-size: 0.9em;
}
*/
#wrapper ul li {
    padding: 10px 20px;
    display: block;
    font-size: 15px;
}
#wrapper ul li span.icon-left {
  font-size: 0.9em;
  margin-right: 8px;
  opacity: 0.7; 
  color: #fff;
}
#wrapper ul li a{
    color: #fff;
}
#wrapper li.top {
  cursor: pointer;
}
#wrapper li{
    border-left: 3px solid transparent; 
}
#wrapper li.top:hover {
/*  background: rgba(26, 188, 156, 0.5);*/
    border-left: 3px solid #69B7E6;
}
#wrapper li.top:nth-last-child(1) {
  margin-bottom: 20px;
}

#wrapper li.upper {
  position: relative;
}
#wrapper li.upper.collapsed {
/*  background: rgba(26, 188, 156, 0.5);*/
    background: #212B34;
    border-left: 3px solid;
}
#wrapper li.upper.collapsed span.icon-right {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#wrapper li.upper.collapsed:hover{
    background: #1E2831;
}
#wrapper li.upper span.icon-right {
  position: absolute;
  right: 33px;
  font-size: 0.8em;
  top: 12px;
  opacity: 0.7;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

#wrapper li.lower {
  padding: 0;
/*  background: rgba(26, 188, 156, 0.2);*/
    background: #098F4C;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  -moz-transition: max-height 0.3s ease;
  -ms-transition: max-height 0.3s ease;
  -o-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
    
}
#wrapper li.lower ul li {
/*  padding: 12px 30px;*/
    cursor: pointer;
    font-size: 0.8em;
    color: #fff;
    float: left;
    width: 102%;
    color: #fff;
    margin-left: -3px;
}
#wrapper li.lower ul li:hover {
  background: rgba(26, 188, 156, 0.3);
}
#wrapper li.lower ul li:nth-last-child(1) {
  padding-bottom: 18px;
}
/*-----------------------------------------------------------------------------------------------*/
.header {
/*
         margin: 100px auto;
         max-width: 22.5rem;
*/
/*         box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);*/
         }
         .header .nav a, .nav label {
         display: block;
         padding: .85rem;
             color: #444;
/*         color: white;*/
/*         background-color: #151515;*/
/*         box-shadow: inset 0 -1px #1d1d1d;*/
         -webkit-transition: all .25s ease-in;
         transition: all .25s ease-in;
             border-left: 3px solid transparent;
             height: 42px;
             padding: 9px;
             line-height: 1.8;
         }
        .header .nav a img{
            width: 20px;
            margin-right: 4px;
            float: left;
        }
.header .nav a b{
    font-weight: normal;
}
.header .nav .active1 > a{
border-left: 3px solid #69B7E6;
/*    border-left: 3px solid #fff;*/
/*padding-left: 19px;*/
/*color: #c0c4c8;*/
    color: #444;
/*background: #36BC79;*/
}

.group-list .active1 > a{
/*    border-left: 3px solid #69B7E6 !important;*/
    border-left: 3px solid #eee !important;
    border-left: none;
/*    background: #212B34 !important;*/
    background: #384155 !important;
    color: #fff !important;
}
.sub-group-list .active1 > a{
    border-left: 3px solid #36BC79 !important;
    background: #27333A !important;
}
#ID10.active1 > a{
/*    border-left: 3px solid #69B7E6 !important;*/
}
         .header .nav li 
         {
         list-style-type: none;
         }
         .header .nav ul a:hover 
         {
/*         color:#000;*/
/*         background: #ccc;*/
/*             background: #36BC79;*/
             border-left: 3px solid #69B7E6;
             color: #B6091C;
         }
         .header .nav ul ul 
         {
         display: none;
             padding-left: 0;
         }
         .header .nav li.active1>ul 
         {
         display: block;
             padding-left: 0;
             
         }
.header .nav li.active1> .sub-group-list{
/*border-left: 3px solid #fff; */
    background: #ddd;
     border-left: 3px solid #000; 
}
.group-list{
    
/*    background: #36BC79;    */
    background: #eee;
}
         .header .nav ul ul a
         {
         padding-left: 1.5rem;
/*         background: #222;*/
/*         box-shadow: inset 0 -1px #333;*/
             cursor: pointer;
         }
         .header .nav ul ul ul a 
         {
             padding-left: 2.2rem;
/*
         padding-left: 2rem;
         background: #333;
         box-shadow: inset 0 -1px #444;
*/
         }
         .header .nav ul ul ul ul a 
         {
         padding-left: 3rem;
         background: #444;
         box-shadow: inset 0 -1px #555;
         }
         .header .nav li.active1>a+ul 
         {
         /* reset the height when checkbox is checked */
         max-height: 1000px;
         }
      .header   a>span 
         {
         float: right;
         -webkit-transition: -webkit-transform .65s ease;
         transition: transform .65s ease;
             margin-top: 5px;
         }
         .header .nav li.active1>a>span 
         {
         -webkit-transform: rotate(90deg);
         -ms-transform: rotate(90deg);
         transform: rotate(90deg);
         }
.header .nav ul ul ul a:focus{
    color: #fff !important;
}
.nav__list{
    padding: 0;
}
.active1 ul .active1 a{
    background: #B6091C !important;
        color: #eee;
}
.active1 ul li a:hover{
     background: #384155 !important;
        color: #fff !important;
}
.notbg{
    color: #fff;
    background: #000;
}
select, select.form-control{
/*
    background: #1E2831;
    color: #fff;
    height: 22px;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 3px;
    border: none;
*/
    background: #fff;
    color: #6C6C6C;
    height: 25px;
    padding: 0px 4px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.dataTables_filter label{
    font-weight: 600;
    font-size: 12px;
}
.dataTables_filter label input{
    margin-left: 7px;
    
}
.form-control{
    border: 1px solid gainsboro;
    box-shadow: none;
    border-radius: 3px;
    font-weight: normal;
}
.dataTables_length label{
/*    font-size: 11px;*/
}
.dataTables_length label select{
    margin: 0 4px;
}
.dataTables_empty{
    padding: 7px !important;
    text-align: center;
}
.sub-group-list2{
/*    display: block;*/
    border-color: #FC8213 !important;
}
.sub-group-list2 li a{
    background: #2E3A41 !important;
    box-shadow: inset 0 -1px #384155 !important;
}
.notbg{
    background: #fff;
    color: #222;
    font-size: 9px;
    height: 17px;
    width: 17px;
    text-align: center;
    border-radius: 50%;
    line-height: 1.9;
    float: right;
    margin: 11px 8px;
}
.notbg-em{
    width: 8px;
    height: 8px;
    background: #FC8213;
}

.notbg-em {
  display: inline-block;
  border-radius: 50px;
/*
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
*/
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.notbg-em:before, .notbg-em:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  opacity: 0;
}
.notbg-em:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: blink 1.6s infinite linear;
          animation: blink 1.6s infinite linear;
}
.notbg-em:after {
  -webkit-animation: blink 1.6s 1.2s infinite linear;
          animation: blink 1.6s 1.2s infinite linear;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  33.33333% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  33.33333% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  
}

.dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block;
  
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.modal-dialog {

    width: 600px;
    margin: 76px auto;

}
.modal-header .close{
    padding: 6px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #384155;
    border-color: #384155;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #fff !important;
    text-decoration: none;
    box-shadow: none !important;
    outline: none !important;
}
.btn-default:hover{
    background: #fefefe;
    border-color: #3D529F;
    color: #3D529F !important;
}
.btn-group > .btn, .btn-group-vertical > .btn{
    float: none;
}
.h5strong{
    font-weight: 700;
}
.horizontal-table td, .horizontal-table th {
          padding: 6px !important;
          border: 1px solid #ccc;
      }
.angle-right-box{
    float: right;
    margin-top: -27px;
    height: 33px;
    line-height: 1.5;
    font-size: 15px;
}
.fa-check.present, .fa-times.absent:hover{
/*        background: #8BC34A;*/
    color: #8BC34A !important;
    border-radius: 50%;
    height: 26px;
    width: 26px;
}
.fa-times.absent, .fa-times.absent:hover{
/*    background: #FF7043;*/
    color: red !important;
    height: 26px;
    border-radius: 50%;
    width: 26px;
}
.fa-calendar-times-o:before {
    content: "\f273";
    font-size: 15px;
}
.fa-calendar-times-o.holiday, .fa-calendar-times-o.holiday:hover{
    border-radius: 50% !important;
/*    background: orange;*/
/*    color: #fff !important;*/
    color: orange;
}
/*
.tooltip{
    background: #000 !important;
    color: #fff !important;
}*/


.tooltip {
  position: relative;
  cursor: context-menu;
  display: inline-block;
   width: 100%;
    z-index: 9;
    float: left;
    opacity: 1;
}
.tooltip .tooltip-text {
  position: absolute;
  border-radius: 3px;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 3px;
  width: auto;
  text-align: center;
    font-size: 10px;
  z-index: 9999;
  top: calc(100% + 8px);
  right: -8px;
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.tooltip .tooltip-text[data-size="medium"] {
  width: 350px;
}
.tooltip .tooltip-text[data-size="large"] {
  width: 500px;
}
.tooltip .tooltip-text:after, .tooltip .tooltip-text:before {
  bottom: 100%;
  right: 5px;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 6px solid transparent;
  border-bottom-color: #000;
}
.tooltip .tooltip-text:before {
  border-bottom-color: #000;
  border-width: 8px;
  right: 3px;
}
.tooltip .tooltip-text[data-position="right"] {
  left: calc(100% + 8px);
  top: 0;
}
.tooltip .tooltip-text[data-position="right"]:after, .tooltip .tooltip-text[data-position="right"]:before {
  content: " ";
  top: calc(50% - 5px);
  border: 5px solid transparent;
  border-right: 5px solid #FFF;
  right: 100%;
}
.tooltip .tooltip-text[data-position="right"]:before {
  border-right-color: #CCC;
  border-width: 7px;
  top: calc(50% - 7px);
}
.tooltip .tooltip-text[data-position="left"] {
  top: 0px;
  right: calc(100% + 8px);
}
.tooltip .tooltip-text[data-position="left"]:after, .tooltip .tooltip-text[data-position="left"]:before {
  content: " ";
  top: calc(50% - 5px);
  left: 100%;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}
.tooltip .tooltip-text[data-position="left"]:before {
  border-left-color: #CCC;
  border-width: 7px;
  top: calc(50% - 7px);
}
.tooltip .tooltip-text[data-position*="top"] {
  bottom: calc(100% + 8px);
  top: auto;
}
.tooltip .tooltip-text[data-position*="top"]:after, .tooltip .tooltip-text[data-position*="top"]:before {
  top: 100%;
  border: 6px solid transparent;
  border-top-color: #FFF;
}
.tooltip .tooltip-text[data-position*="top"]:before {
  border-top-color: #CCC;
  border-width: 8px;
  right: 3px;
}
.tooltip .tooltip-text[data-position="top-left"], .tooltip .tooltip-text[data-position="bottom-left"] {
  left: -8px;
  right: auto;
}
.tooltip .tooltip-text[data-position="top-left"]:after, .tooltip .tooltip-text[data-position="top-left"]:before, .tooltip .tooltip-text[data-position="bottom-left"]:after, .tooltip .tooltip-text[data-position="bottom-left"]:before {
  left: 5px;
  right: auto;
}
.tooltip .tooltip-text[data-position="top-left"]:before, .tooltip .tooltip-text[data-position="bottom-left"]:before {
  left: 3px;
  right: auto;
}
.tooltip .tooltip-text[data-position="top-right"], .tooltip .tooltip-text[data-position="bottom-right"] {
  right: -8px;
  left: auto;
}
.tooltip .tooltip-text[data-position="top-right"]:after, .tooltip .tooltip-text[data-position="top-right"]:before, .tooltip .tooltip-text[data-position="bottom-right"]:after, .tooltip .tooltip-text[data-position="bottom-right"]:before {
  right: 5px;
  left: auto;
}
.tooltip .tooltip-text[data-position="top-right"]:before, .tooltip .tooltip-text[data-position="bottom-right"]:before {
  right: 3px;
  left: auto;
}
.tooltip .tooltip-text[data-position="top"], .tooltip .tooltip-text[data-position="bottom"] {
  left: calc(50% - 45px);
}
.tooltip .tooltip-text[data-position="top"][data-size="medium"], .tooltip .tooltip-text[data-position="bottom"][data-size="medium"] {
  left: calc(50% - 183px);
}
.tooltip .tooltip-text[data-position="top"][data-size="large"], .tooltip .tooltip-text[data-position="bottom"][data-size="large"] {
  left: calc(50% - 258px);
}
.tooltip .tooltip-text[data-position="top"]:after, .tooltip .tooltip-text[data-position="top"]:before, .tooltip .tooltip-text[data-position="bottom"]:after, .tooltip .tooltip-text[data-position="bottom"]:before {
  left: calc(50% - 5px);
}
.tooltip .tooltip-text[data-position="top"]:before, .tooltip .tooltip-text[data-position="bottom"]:before {
  left: calc(50% - 7px);
}
.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip{
    opacity: 1;
}
#all > .tab-content{
    margin-top: 0;
}
#all > .tab-content .col-md-9{
    padding: 15px;
}
#all > .tab-content .col-md-3{
    padding: 15px 0 15px 15px;
}
              
.tooltip{
    position: relative;
    color: #fff;
    text-align: center;
}

[tooltip] {
/*  position: relative; */
}


[tooltip]::before,
[tooltip]::after {
 
/*  font-size: 13px; */
  position: absolute;
  display: none;
  opacity: 5;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1;
}

[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding:3px 10px;
  border-radius: 3px;
  background: #000;
  color: #fff;
  z-index: 2;
    font-size: 10px;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

[tooltip]:not([direction])::before,
[tooltip][direction^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #000;
}

[tooltip]:not([direction])::after,
[tooltip][direction^="up"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([direction])::before,
[tooltip]:not([direction])::after,
[tooltip][direction^="up"]::before,
[tooltip][direction^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}


[tooltip][direction^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #000;
}

[tooltip][direction^="down"]::after {
  top: calc(100% + 5px);
}

[tooltip][direction^="down"]::before,
[tooltip][direction^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

[tooltip][direction^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #000;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][direction^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

[tooltip][direction^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #000;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}

[tooltip][direction^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

@keyframes tooltips-vertical {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horizontal {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

[tooltip]:not([direction]):hover::before,
[tooltip]:not([direction]):hover::after,
[tooltip][direction^="up"]:hover::before,
[tooltip][direction^="up"]:hover::after,
[tooltip][direction^="down"]:hover::before,
[tooltip][direction^="down"]:hover::after {
  animation: tooltips-vertical 300ms ease-out forwards;
}

[tooltip][direction^="left"]:hover::before,
[tooltip][direction^="left"]:hover::after,
[tooltip][direction^="right"]:hover::before,
[tooltip][direction^="right"]:hover::after {
  animation: tooltips-horizontal 300ms ease-out forwards;
}
                          
												
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    z-index: 9999 !important;
}
.main-content > .btn{
    margin-bottom: 5px !important;
}





/*--------------NAVIGATION SCROLLBAR--------------------*/
.simplebar, [data-simplebar-direction] {
/*    position: relative;*/
    overflow: hidden;
    -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

.simplebar .simplebar-scroll-content,
[data-simplebar-direction] .simplebar-scroll-content {
    overflow-y: scroll;
    overflow-x: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 108%;
    bottom: 0;
    -ms-overflow-style: none; /* hide browser scrollbar on IE10+ */
}

/* hide browser scrollbar on Webkit (Safari & Chrome) */
.simplebar-scroll-content::-webkit-scrollbar {
    display: none;
}

[data-simplebar-direction="horizontal"] .simplebar-scroll-content,
.simplebar.horizontal .simplebar-scroll-content {
    overflow-x: scroll;
    overflow-y: auto;
}

.simplebar-track {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 11px;
}

.simplebar-track .simplebar-scrollbar {
    position: absolute;
    right: 2px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-height: 10px;
    width: 7px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    background: #B6091C;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
}

.simplebar-track:hover .simplebar-scrollbar {
    /* When hovered, remove all transitions from drag handle */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
    -webkit-transition: opacity 0 linear;
    -moz-transition: opacity 0 linear;
    -o-transition: opacity 0 linear;
    -ms-transition: opacity 0 linear;
    transition: opacity 0 linear;
}

.simplebar-track .simplebar-scrollbar.visible {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
}

[data-simplebar-direction="horizontal"] .simplebar-track,
.simplebar.horizontal .simplebar-track {
    top: auto;
    left: 0;
    width: auto;
    height: 11px;
}

[data-simplebar-direction="horizontal"] .simplebar-track .simplebar-scrollbar,
.simplebar.horizontal .simplebar-track .simplebar-scrollbar {
    right: auto;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}
#myElement{
/*
  height:150px;
  width:400px;
*/
}
/*-----------------------------------*/
.activedot, .inactivedot, .approved , .decline, .pending{
    display: inline-block;
    height: 7px;
    width: 7px;
    background: red;
    border-radius: 50%;
    margin: 0 3px;
}
.activedot{
    background: #3D9970;
}   
td .small.tooltip, td .small, .edit {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
    text-align: left;
    width: auto;
    margin: 0px 4px;
    display: inline-block;
    float: none;
}
a{
    cursor: pointer !important;
}
.easy-autocomplete{
    width: 100% !important;
}
/*--------------------------------------*/

.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 60px;
}
.file-upload-wrapper:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
    border: 1px solid #eee;
  padding: 2px 7px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  height: 24px;
  line-height: normal;
  color: #999;
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
    overflow: hidden;
}
.file-upload-wrapper:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 24px;
    background: #4daf7c;
    color: #fff;
    z-index: 25;
    line-height: 24px;
    padding: 0 15px;
    text-transform: capitalize;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}
.file-upload-wrapper:hover:before {
  background: #3d8c63;
}
.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 24px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}
.pending{
    background: #6EC1F8;
}
.approved{
    background: #388E3C;
}
.off{
    color: #fff;
}
.week td, th{
    border: none;
}
.week tr td:last-child{
    border-right: 1px solid #eee;
}
.week tr th:last-child{
        border-right: 1px solid #eee;
}
button.fa{
    border: none;
}
#Attendaace > div{
    float: left;
    width: 10%;
    border: 1px solid #ddd;
    padding: 0;
    height: 85px;
    line-height: 2;
    border-bottom: none;
    border-right: none;
    text-align: center;
}
#Attendaace{
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#Attendaace div .Present:after, #Attendaace div .Absent:after, #Attendaace div .Approved:after, #Attendaace div .WeekEnd:after, #Attendaace div .Holiday:after{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: green;
    margin-top: 3.5px;
    margin-left: 4px;
}
#Attendaace > div p{
    line-height: 1;
    padding: 4px 7px;
    float: left;
    width: 100%;
}
#Attendaace .WeekEnd:after{
    background: #F2D201;
}
#Attendaace div .Approved:after{
    background: #F2D201;
}
#Attendaace div .Absent:after{
    background: red;
}
#Attendaace div .WeekEnd:after{
    background: #FF6600;
}
#Attendaace div .Holiday:after{
    background: #FF6600;
}
#Attendaace > div:last-child{
    border-right: 1px solid #ddd;
}
#Attendaace > div a{
    float: left;
    width: 100%;
    background: #eee;
    margin-bottom: 4px;
    padding: 12px 7px;
}
.market-update-block{
    margin-bottom: 15px;
}
.attendance-grid td:first-child, .attendance-grid th:first-child{
    text-align: left !important;    
    padding: 0 15px;
}
@media only screen and (max-width: 788px){
.left-content {
width: 75%;
padding: 0;
}
.sidebar-menu {
width: 80px;
}
.login-main {
width: 90%;
border-radius: 3px;
}
.breadcrumb{
margin-top: 36px; 
}
.logo1 a img{
width: 100%;
}
.header .nav a b{
font-size: 10px;
}
.modal .modal-dialog, .modal .modal-dialog{
width: 100%;
}
/*.nav__list{
text-align: center;
}*/
}