@media screen and (max-width:788px){
.nav__list{
text-align: center;
}
.header .nav a, .nav label{
height: 50px !important;
padding: 13px !important;
line-height: 14px !important;
padding-left: 9 !important;
font-size: 10px;
text-align: left;
float: left;
width: 100%;
}
.header a > span{
margin-top: 10px;
}
.header .nav a img {
width: 20px;
margin-right: 4px;
float: none !important;
text-align: center;
}
header .nav a b {
font-size: 10px;
width: 100%;
text-align: center;
float: left;
}
.inner-block{
padding: 11em 0em 2em 0em !important;
}
.market-update-right i.fa{
float: none !important;
}
.market-update-right{
text-align: center;
}
.market-update-left .btn{
margin-top: 10px;
}
.profile_details{
float: left !important;
}
.profile_details li a i.fa.lnr{
top: 40%;
right: 26%;
}
.profile_details ul li ul.dropdown-menu.drp-mnu{
left: 2%;
}
.page-header h3{
font-size: 13px !important;
}
.main-content > .btn {
 float: none;
 margin-top: 6px !important
}
.list-content .tab-pane{
	padding: 3px !important;
}
#Departments{
width: 181px !important;
}
.main .page-header{
height: 60px !important;
}
.onoffswitch{
margin-left: 15px;
}
.page-header h4{
padding-top: 5px;
}
.login-block input[type="text"], .login-block input[type="password"]{
padding: 18px 30px !important;
}
.team-sel{
width: 100% !important;
}
#calendar td{
padding: 4.6px !important;
}
.fa-times.absent{
z-index: 9999;
}
#myElement{
display: none;
}
.bar{
display: none;
}
.left-content{
width: 100% !important;
}
.fixed{
width: 75%;
right: 0;
}
.breadcrumb {
margin-top: 0px !important;
}
.detail .nav-tabs > li {
display: inline-block;
width: 100%;
}
.tab-content .active{
width: 100%;
}
.sidebar-menu{
display: none;
}
#all .nav-tabs li{
width: 100%;
}
.tab-content .main-tab select{
width: 260px !important;
}
.responsive-logo{
display: block !important;
position: fixed;
width: 100%;
z-index: 1;
}
.left-content .fixed {
width: 100%;
right: 0;  
background: linear-gradient(to left, #283048, #859398);
top: 52px;
}
.menu-container{
float: right;
width: 40%;
}
.logo1 a img{
width: 35% !important;
padding: 9px 9px 16px 9px !important;
}
.logo1{
border-bottom-right-radius: 0px !important;
}
.market-update-right i.fa.fa-file-text-o{
line-height: 2.5em;
}
.market-update-right i.fa.fa-eye{
line-height: 2.5em;
}
.market-update-right i.fa.fa-envelope-o{
line-height: 2.5em;
}
.imgshow {
display: block;
background: #fff;
width: 100%;
height: 100vh;
}
.dataTables_length label{
float: left;
}
.horizontal-table{
margin-bottom: 10px;
}
.file-upload-wrapper{
z-index: 00;
}
/*------responsive-nav-----*/
.hamburger {
position: absolute;
top: -19px;
transform: translate(-50%, -50%);
width: 12%;
height: 2px;
background-color: #fff;
right: -117px;
cursor: pointer !important;
display: block;
}
.hamburger::before {
content: "";
position: absolute;
top: -5px;
left: 0;
width: 100%;
height: 100%;
background-color: inherit;
transition: all 300ms ease-in-out;

}
.hamburger::after {
content: "";
position: absolute;
top: 5px;
left: 0;
width: 100%;
height: 100%;
background-color: inherit;
transition: all 300ms ease-in-out;
}
.nav-offcanvas{
display: block !important;      
}
.nav-offcanvas {
width: 200px;
background: #fff;
height: 100vh;
position: fixed;
overflow-x: auto;
z-index: 2000;
padding: 9px 0;
top: 0;
left: -300px;
transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-offcanvas .close {
position: absolute;
right: 10px;
top: 20px;
outline: 0;
opacity: 1;
background: transparent;
border: none;
box-shadow: none;
cursor: pointer;
transition: .3s ease;
}
.nav-offcanvas .close i {
  font-size: 15px;
  color: white;
  text-shadow: none;
}
.nav-offcanvas .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.nav-offcanvas-menu ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-offcanvas-menu ul li a {
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 40px;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;
}


/*.nav-offcanvas-menu ul li a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}*/
.nav-offcanvas.open {
  left: 0;
}

.offcanvas-overlay {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1999;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  visibility: hidden;
  opacity: 0;
  margin-top: 0 !important;
}
.offcanvas-overlay.on {
  opacity: 1;
  visibility: visible;
}


}